/.vscode
/a.out
/a.out.dSYM
/a02
/a02.dSYM
/a04
/a04.dSYM
/a06
/a06.dSYM
/test
/b02a01
/b02a01.dSYM
/b02a02
/b02a02.dSYM
b02a03
b02a03.dSYM/Contents/Info.plist
b02a03.dSYM/Contents/Resources/DWARF/b02a03
b02a03.dSYM/Contents/Resources/Relocations/x86_64/b02a03.yml
b02a04.dSYM/Contents/Info.plist
b02a04.dSYM/Contents/Resources/DWARF/b02a04
b02a04.dSYM/Contents/Resources/Relocations/x86_64/b02a04.yml
b02a04
b03a02
b03a02.dSYM/Contents/Info.plist
b03a02.dSYM/Contents/Resources/Relocations/x86_64/b03a02.yml
b03a03
b03a03.dSYM/Contents/Info.plist
b03a03.dSYM/Contents/Resources/DWARF/b03a03
b03a03.dSYM/Contents/Resources/Relocations/x86_64/b03a03.yml
b04a01
b04a01v1
b04a01v2
b04a02
